@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/static/Inter_18pt-ExtraBold.ttf) format('truetype');
    font-weight: extra-bold;
    font-style: normal;
}*/

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", Arial;
}

body{
    overflow-x: hidden;
}

header, footer{
    background-color: black;
    color: white;
}

nav{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.contato{
    color: #00ADEF;
    display: flex;
    align-items: center;
    gap: 3px;
}

main{
    background-color: black;
    background-image: url(../assets/imgs/Fundo-Placa.png);
    width: 102.66%;
    height: 1887px;
}

/*.background{
    height: 100%;
    display: flex;
    z-index: -1;
    justify-content: center;
}

.background img{
    width: 102.66%;
}*/

.row1{
    display: flex;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 24.7px;
}

.profile{
    display: flex;
    background-image: url('../assets/imgs/Display1.png');
    width: 492px;
    height: 355.56px;
    align-items: center;
    gap: 76px;
    font-size: 16px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 37px;
    gap: 3px;
}

.user-name{
    font-size: 22px;
    font-weight: bold;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews{
    display: flex;
    flex-direction: column;
    font-weight: extra-bold;
    gap: 3px;
}

.months{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

footer{
    width: 100%;
    font-size: 16px;
    flex-direction: column;
}

footer a{
    font-size: 14px;
}

.columns{
    display: flex;
    gap: 20px;
}

.column1{
    width: 40%;
}

.column1 input, button{
    color: black;
    background-color: white;
    border: none;
    font-size: 16px;
}

.column1, .column2, .column3, .column4{
    display: flex;
    flex-direction: column;
}

.column2, .column3, .column4{
    width: 20%;
    justify-content: center;
    gap: 20px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.face, .insta, .twitter, .linkedin{
    display: flex;
    align-items: center;
    gap: 4px;
}

.copy{
    width: 100%;
    gap: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 23px;
}