@import url(../../../../style/global.css);

body{
    margin: 0 auto;
    background-color: var(--color-background);
}

/* Header */
header{
    display: flex;
    background-color: var(--color-neutral-black);
    justify-content: space-around;
    align-items: center;
}

header img{
    width: 10%;
}


.header-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-items a{
    text-decoration:  none;
    color: var(--color-neutral-white);
    font-size: var(--header-links);
}

.links-contato-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
}
.links-contato-login a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    color: var(--color-primary-blue);
    font-size: var(   --header-links);
}
.link-contato img{
    width: 25px;
    height: 25px;
}
.link-login img{
    width: 25px;
    height: 25px;
}

/* FIM DO HEADER */

/*  COMEÇO DO MAIN */

.img-main{
    width: 100%;
    position: relative;
}
main h1{
    width: 990px;
    color: var(--color-neutral-white);
    position: absolute;
    top: 50%;
    right:500px;
    font-size: var(--headline1-big);

}



/* FIM DO MAIN */





/* SECTION ALUGUE-NOTEBOOKS */

.alugue-notebooks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
    gap: 72px;
}

.placa-titulo{
    background-image: url(../assets/images/placa-menor\ \(2\).svg);
    width: 1258px;
    height: 172px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.placa-titulo h1{
    padding: 58px 114px;
    font-size:var(  --headline1-medium);
    color: var( --color-neutral-white);
    
}
.placa-maior{
    background-image:url(../assets/images/tela-display.svg);
    width: 1315px;
    height: 662px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centraliza o conteúdo verticalmente */

  
}
.placa-maior p{
    color: var(--color-neutral-white);
    font-size: 40px;
    width: 987px;
}
/* FIM DA SECTION ALUGUE NOTEBOOKS */

/*  COMEÇO DA SECTION NOSSAS VANTAGENS */
.nossas-vantagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 196px;
    gap: 243px;
}

.placa-nossas_vantagens{
    background-image: url(../assets/images/placa-menor\ \(2\).svg);
    width: 941px;
    height: 122px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centraliza o conteúdo verticalmente */

}
.placa-nossas_vantagens h2{
    color: var( --color-neutral-white);
    font-size: var(  --headline2-big);
}
.display-tela-vantagens{
    background-image:url(../assets/images/tela-display.svg);
    width: 1315px;
    height: 662px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centraliza o conteúdo verticalmente */

}
.display-tela-vantagens p{
    font-size:var( --paragraph-normal);
    color: var(--color-neutral-white);
    width: 900px;
    font-size: var( --headline2-medium);

}

/* FIM DA SECTION NOSSAS VANTAGENS */


/* COMEÇO SECTION NOSSOS PRODUTOS */
.nossos-produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 243px;
}


/*  FIM DA SECTION NOSSAS VANTAGENS */